<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="/favicon.ico" rel="shortcut icon">
<link href="/favicon.ico" rel="icon">
<title>alternativa.gui.layout - API Documentation</title>
<base target="classFrame">
<link rel="stylesheet" href="../../../style.css" type="text/css" media="screen">
<link rel="stylesheet" href="../../../print.css" type="text/css" media="print">
</head>
<body class="classFrameContent">
<h3>
<a style="color:black" target="classFrame" href="package-detail.html">Package alternativa.gui.layout</a>
</h3>
<table cellspacing="0" cellpadding="0">
<tr>
<td><a style="color:black" href="package-detail.html#interfaceSummary"><b>Interfaces</b></a></td>
</tr>
<tr>
<td><a href="ILayoutManager.html"><i>ILayoutManager</i></a></td>
</tr>
<tr>
<td><a href="ILODManager.html"><i>ILODManager</i></a></td>
</tr>
<tr>
<td><a href="ISidesRatio.html"><i>ISidesRatio</i></a></td>
</tr>
<tr>
<td><a href="IStageSizeListener.html"><i>IStageSizeListener</i></a></td>
</tr>
<tr>
<td width="10px">&nbsp;</td>
</tr>
<tr>
<td><a style="color:black" href="package-detail.html#classSummary"><b>Classes</b></a></td>
</tr>
<tr>
<td><a href="DefaultLayoutManager.html">DefaultLayoutManager</a></td>
</tr>
<tr>
<td><a href="DefaultLODManager.html">DefaultLODManager</a></td>
</tr>
<tr>
<td><a href="LayoutManager.html">LayoutManager</a></td>
</tr>
<tr>
<td><a href="LODmanager.html">LODmanager</a></td>
</tr>
<tr>
<td><a href="RedrawManager.html">RedrawManager</a></td>
</tr>
</table>
</body>
</html>
<!-- -->
